# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Coverage
coverage
*.lcov

# Source
src

# Tests
tests

# CircleCI
.circleci

# Website
docusaurus

# Config files
.babelrc
.editorconfig
.eslintrc.json
.prettierrc

# md
CONTRIBUTING.md
